# JN-FAN-ERP .gitignore

# Java
*.class
*.jar
*.war
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven
log/
*.log
*.pid
pom.xml.versionsBackup

# IDE
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.vscode/
.sonarlint/

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Node
node_modules/
dist/
.env.local
.env.*.local

# Temp
_ruoyi-cloud-src/
setup.bat
tmp/
temp/
